body {
  margin: 0;
  width: 500px;
  overflow: hidden;
  background-color: whitesmoke;
  color: #2d2926;
}

*:focus { outline:none; }

h1, h2, h3 {
  margin: 0;
  padding: 0 0 15px 0;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 18pt;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 14pt;
}

a:link, a:visited {
  color: rgb(21,127,173);
  text-decoration: none;
}

a.btn:link, a.btn:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
}

.header, .box {
  background-color: white;
  border-bottom: #dbdcdb solid 1px;
}

.header {
  position: relative;
  height: 35px;
}

.header img {
  position: absolute;
  height: 30px;
  top: 0;
  left: 0;
}

.header div {
  position: absolute;
  top: 0;
  line-height: 0;
  width: 100%;
}

#certification {
  text-shadow: 0 2px 10px white;
  color: rgb(20,40,40);
}

#certification h2,
#certification h3 {
  text-align: center;
  font-weight: 500;
  font-size: 18pt;
}

#certification h2 {
  padding: 20px 0 10px 0;
}

#certification h3 {
  font-weight: 400;
  font-size: 16pt;
}

.certification-grey {
  background-color: lightgrey;
}

.certification-green {
  background-color: limegreen;
}

.img-seal {
  width: 128px;
  height: 124px;
  background: url(../images/seal-hon-certified.png) no-repeat top left;
  vertical-align: top;
}

.wrapper-hon-year {
  text-align: center;
  padding-top: 8px;
}

.hon-number-year {
  font-size: 40px;
  color: white;
  font-weight: 700;
  line-height: 40px;
}

.hon-text-year {
  font-size: 15px;
  line-height: 15px;
  color: white;
  font-weight: 500;
  display: block;
}

#seal-link {
  height: 124px;
}

.wrapper-link {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.box {
  margin: 10px;
  padding: 8px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.bottom {
  clear: both;
}

.footer {
  background-color: white;
  border-top: #dbdcdb solid 1px;
  padding: 6px;
}

.footer p {
  margin: 0;
}
